*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body{
	background-color: #0C1027;
}

/*------------------------------navbar begins --------------------------------*/
.sp1 > i{
  color:white;
}
.sp{
  margin-right:-4px;
}
.bell{
  color:white;
}
.one{
	margin-left:15px;
}
.two{
	margin-top: -10px;
}

.search{
  border:none;
  padding-top:8px;
  padding-bottom:7px;
	background-color: #12193E;
}
.navtext{
	font-size:18px;
}
#three{
	font-size:18px;
}
.search-icon{
  background-color: #12193E;
	color:#43475C;
  padding:5.5px 6px;
}
@media(max-width:285px){
  #mic{
    display:none;
  }
 #firstpic{
    display:none;
  } 
  .search{
    width:70px;
  }
  .navtext{
    font-size:15px;
  }
}
@media(max-width:365px) and (min-width:285px){
  #mic{
    display:none !important;
  }
  .search{
    width:70px;
  }
  #firstpic{
    display:none;
  }
  .navtext{
    font-size:20px;
  }
}
@media(max-width:480px) and (min-width:365px){
  .navtxt{
    font-size:15px;
  }
  .two{
    width:40%;
  }
  .search{
    width:70px;
  }
}
@media(max-width:700px) and (min-width:601px){
  .search{
    width:135px;
  }
}
@media(max-width:700px) and (min-width:480px){
  .horizontal-list > li{
    font-size:22px;
    margin-left:5px;
  }
}
@media(max-width:700px){
  
.horizontal-list > #three{
  display:none;
}
  .menu a >.bell {
    display:none;
  }
   #profile{
    display:none;
  }
}
@media (min-width:700px){
.menu > #four{
  display:none;
}
  .menu > .notify{
    display:none;
  }
}
.nav ul{
	display: flex;
	list-style-type: none;
	align-items: center;
	align-content: center;

	
}
nav{
	width: 100%;
}
.nav {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    background-color: #0C1027;
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding-top:10px;
}
.one ul{
	display: flex;
	list-style-type: none;
	align-items: center;
	align-content: center;
}
.horizontal-list > li{
  display:flex;
  margin-top:-15px;
  padding:5px;
  color:white;
}
.logo{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.menu {
    margin: 0 25px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin-left:10px;
    margin-right:10px;
    line-height: 70px;
}


.profile{
	width:40px;
	height:40px;
	border-radius: 50%;
}


label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
  color:white;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 700px) {
    label {
        display: block;
        cursor: pointer;
    }
  .search{
    padding-top: 7.95px;
    padding-bottom: 6px;
  }

  
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
        background-color: #353535;
    }
    
    
}

/*--------Navbar ends----------- */

/*-- main body starts --*/
@media only screen and (max-width: 1090px){
.wrapper{
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
}
.box2{
	margin-top: 40px;
	margin-bottom: 15px;
}
.box1{
	flex: 6;
    display: grid;
    grid-row-gap: 3em;
    margin-left: 40px;
    overflow-x: scroll;
}
.box1::-webkit-scrollbar {
    width: 5px !important;
    padding-top: 15px !important;
    background-color: gray;
    border-radius: 5px;
   }
   .box1::-webkit-scrollbar-thumb{
   	border-radius: 10px;
   	height: auto;
   	background: #CB7DCE;
   	background: -webkit-linear-gradient(right, #CB7DCE, #FF6F12);
   	background: -moz-linear-gradient(right, #CB7DCE, #FF6F12);
   	background: linear-gradient(to left, #CB7DCE, #FF6F12);
   }

}
/*-------media querry ends ---------*/
.wrapper{
	flex-wrap: nowrap;
    justify-content: space-around;
    margin-top:60px; 
    display: flex;
    height: auto;
    width: auto;
    overflow-x: hidden;
	}
.box1{
    flex: 5;
    display: grid;
    margin-right:10px;
    grid-row-gap: 3em;
    margin-left: 50px;
    
}
/*----------------------------------CAROUSEL---------------------------------*/





.carodiv{
		height: 300px !important;
		width: 840px !important;
	}
	.top-section
	{
		margin: auto;
		position:-webkit-sticky;
		margin-top: 33.373px;
		width: auto;
		height: auto;
		/* border: 1px solid wheat; */
		text-align: center;

	}
	.top-section div
	{
		display: inline-block;
		position: relative;
		width: 200px;
		height: 150px;
		border-radius: 20px;
	}
	.top-section div:hover
	{
		transform: scale(1.2,1.2);
		box-shadow:  0 0 25px 5px ;
		cursor: pointer;
	}
	#image1
	{
		margin-bottom: 22px;
		background: url(https://i.pinimg.com/236x/a4/42/50/a4425062fc6144da7f237deb7390358e.jpg);
		box-shadow:  0 0 100px 2px rgba(32, 32, 34, 0.959);
		background-size: cover;
		
	}
	#image2
	{
		/* position: relative;  */
		width: 250px;
		height: 200px;
		background: url(https://i.pinimg.com/236x/24/54/17/245417dd24f0e0f916ab0f30802fc084.jpg);
		box-shadow:  0 0 100px 2px rgba(136, 129, 128, 0.959);
		background-size: cover;
	}
	#image3
	{

		margin-bottom: 22px;
		background: url(https://i.pinimg.com/236x/04/6c/4a/046c4af3c0b916765bbed3ae81c5ff42.jpg);
		box-shadow:  0 0 100px 2px rgba(212, 69, 69, 0.959);
		
		background-position: left;
}
@media only screen and (max-width: 930px) and (min-width: 600px){
	.picture-head > img{
  height: 160px;
  margin-right:20px;
  width:180px;
}
.carodiv{
		height: auto !important;
		width: 590px !important;
	}
}
	


@media only screen and (min-width: 930px){
.picture-head > img{
	display: none;
}
}

.carodiv{
	height: 200px;
	width: auto;
	overflow-x: hidden;
	}

	

/*------------------------------Latest Release--------------------------*/
.latest{
	display: grid;
	grid-template-rows: 6.5% 40% 40%;
	grid-row-gap: 1em;
	height: auto;
}
.latest-text{
	color: white;
	font-size: large;
	font-weight: bolder;
}
.row2{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1em;

}
.sample1{
	display: grid;
	grid-template-columns: 25% 55% 10%;
	grid-column-gap: 1em;
	
}
.onismcont > img{
	width: 87.5px;
	height:87.5px;
}
.sample2{
	display: grid;
	grid-template-columns: 25% 55% 10%;
	grid-column-gap: 1em;

}
.nameofsinger{
	font-size: 15px;
	font-weight: bolder;
}
.date{
	font-size: 9px;
	font-weight: lighter;
	padding-top: 5px;
}
.onismlist > ul{
	list-style-type: none;
	padding-top: 15px;
	color: white;
}
.duration > ul{
	list-style-type: none;
}
.threedots > i{
	color: white;

}
.timeofsong{
	color: white;
	font-size: 8px;
	font-weight: lighter;
}
.row3{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1em;
}

/*---------latest media querry---------*/
@media screen and (max-width: 1100px) {
	.row2{
		margin: 5px !important; 
	    display: flex !important;
	    flex-direction: column !important;
	}
	.row3{
		margin: 5px !important;
	    display: flex !important;
	    flex-direction: column !important;


	}
	.sample2{
		padding-top: 5px;
	}
}
@media screen and (max-width: 950px){
	.onismlist{
		margin-left: -30px;
	}
	.duration{
		margin-left: -80px;
	}

}
@media only screen and (max-width: 700px){
	.sample1 {
    display: grid;
    grid-template-columns: 20% 35% 10% !important;;
    grid-column-gap: 1em;
}
.sample2 {
    display: grid;
    grid-template-columns: 20% 35% 10% !important;
    grid-column-gap: 1em;
    padding-top: 5px;
}
.onismcont > img{
		width: 70px;
		height:70px;
	}
}
@media only screen and (max-width: 528px){
	.sample1 {
    display: grid;
    grid-template-columns: 20% 22% 10% !important;;
    grid-column-gap: 1em;
}
.sample2 {
    display: grid;
    grid-template-columns: 20% 22% 10% !important;
    grid-column-gap: 1em;
}
}
/*-----------------latest media querry ends----------------*/

/*-------------------popular artist media querry---------------------*/
@media only screen and (max-width:1100px){
	.artist-img >img{
		width:80px;
		height: 80px;
		border-radius: 50%;

	}
	.artist-two{
		display: grid;
		grid-column-gap: 10px;
	}
	.artist-name{
	color: white;
	text-align: center;
	font-size: 11px;
	padding-top: 3px;
}
}

/*-----------------popular artist ---------------------*/
.popular{
	/*margin-top: -200px;*/
	display: grid;
	height: auto;
	grid-template-rows: 10% 70%;
	grid-row-gap: 1em;
}
.p-artist{
	color: white;
	font-size: large;
	font-weight: bolder;
}
.artist-two{
	display: grid;
	grid-template-columns: repeat(6,1fr);
}
.artist-three{
	display: grid;
	grid-template-columns: repeat(6,1fr);
}
.artist-pic ul{
	list-style-type: none;
}
.artist-name{
	color: white;
	text-align: center;
	font-size: 13px;
	padding-top: 3px;
	padding-right: 6px;
}
.artist-img{
	overflow: hidden;
}
.artist-img > img{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	opacity: .4;
	cursor: pointer;
	filter: brightness(100%);
	box-shadow: 0px 0px 1px #fff;

}
.artist-img > img:hover{
transform: scale(1);
	opacity: 1;
}


/*--------------------------------stations--------------------------------*/
.station{
	display: grid;
	grid-template-columns: 20% 80%;
	grid-column-gap: 2em;
	background-color: #0b0b42; 
	align-items: center;
	align-content: center;
	justify-content: center;
	height: auto;
}
.other-stations{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-column-gap: 0px;
	margin-right: 20px;
	margin-top: 15px;
}
.station-image{
	margin-left: 45px;
}
.station-image img{
	width: 95px;
	height:95px;
	box-shadow: 0px 0px 1px #fff;
}
.other-st-images img{
	width: 70x;
	height: 70px;
	border-radius: 50%;
    cursor: pointer;
	filter: brightness(100%);
}
.other-st-images img:hover{
	transform: scale(1.2);
	opacity:0.7;
	
}

/*-------------------------------------road-------------------------------------*/
.road{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 1em;
	height: auto;
}
.road-trip{
	overflow: hidden;
}
.road-trip img{
	width: 100%;
	height: 100%;
	cursor: pointer;

}

.road-trip img:hover{
	opacity: 0.5;
	transform: scale(1.2);
}


/*-----------------------------latest english---------------------------*/
.eng-popular{
	display: grid;
	grid-template-rows: 10% 30%;
	grid-row-gap: 1em;
	height: auto;
}

.engimg > img{
	width:110px;
	height:110px;
	border-radius:20%;
	cursor: pointer;
}
.engimg > img:hover{
	opacity: 0.5;
	transform: scale(1.1);
}
.engsinger{
	list-style-type: none;
}
.engsinger li{
	color: white;
	font-size: 10px;
	font-weight: lighter;
}
.arijit{
	padding-top: 5px;
	padding-left: 5px;
}
.arijit-time{
	padding-left: 5px;
}

.scrollb{
	padding-bottom: 10px;
}
/*--------------------------asidebar-------------------------------*/
.box2{
flex-direction: column;
    flex: 3;
    height: auto;
    /* margin-left: -80px; */
    /* margin-right: 50px; */
}
.capital{
	font-size: large;
	font-weight: bold;
	color: white;
}
.drop{
	float: right;
	margin-left: 16px; 
	list-style-type: none;
}
.drop .sidebars{
	position: relative;
	display: block;
}
.drop .sidebars a{
	display: block;
	color: #3da038;
	font-size: 15px;
}
.drop .sidebars .sidelist{
text-align: center;
background-color: white;
}
.drop .sidebars .sidelist li{
	display: none;
}
.drop .sidebars:hover .sidelist{
	width: 150px;
	height: 50px;
}
.drop .sidebars:hover .sidelist li {
	display: block;
	margin-top: 5px;
	padding-top: 3px;
}
.drop .sidebars:hover .sidelist li #anctwo{
	margin-top:-3px;
}
.drop .sidebars .sidelist hr{
	display: none;
}
.drop .sidebars:hover .sidelist hr{
    margin-top: 5px;
	display: block;
} 

.drop .sidebars .sidelist li a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-weight: bold;
}
/*---------------------------------------------- sideplaylist---------------------------------*/

/*----------------------------------sideplaylist media querry-----------------------*/
@media only screen and (max-width: 450px){
  .musicitem{
display:grid;
grid-template-columns:7% 15% 40% 5%; 
  }
  .sideimage{
    width:30px;
    height:30px;
    padding-left:8px;
  }
  #songlist{
    padding-left:25px;
  }
  .heart{
    font-size: 10px;
  }
}
@media only screen and (min-width:1070px){
.music{
	overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.music::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.music {
    -ms-overflow-style: none;
}

}

@media only screen and (max-width: 1070px){
.music{
	overflow-y: scroll;
	height: 300px!important;
	overflow-y: scroll !important;
}
.music::-webkit-scrollbar {
    width: 8px;
    background-color: gray;
    border-radius: 5px;
   }
 .music::-webkit-scrollbar-thumb{
   	border-radius: 10px;
   	height: auto;
   	background: #CB7DCE;
   	background: -webkit-linear-gradient(right, #CB7DCE, #FF6F12);
   	background: -moz-linear-gradient(right, #CB7DCE, #FF6F12);
   	background: linear-gradient(to left, #CB7DCE, #FF6F12);
   }

}
/*----------------------------media querry ends------------------------*/
.music{
	margin-top: 58px;
	display: grid;
	grid-row-gap: 1em;
	grid-template-rows: repeat(14,1fr);
	margin-right: 20px;
	height:20%;
}

.musicitem{
	display: grid;
	grid-template-columns:7% 15% 65% 5%; 
	align-items: center;
	align-content: center;
	justify-content: center;
	grid-row-gap: 1em;
	background-color: #131844;
}

.sideimage{
	width: 40px;
	height: 40px;
}
.sideimage > img{
	width: 100%;
	height: 100%;
	filter: brightness(100%);
	box-shadow: 0px 0px 2px #fff;
}
#songlist li{
	list-style-type: none;
}
.no{
	color: #d1caca;
	font-size: 13px;
	font-weight: bolder;
}
.songlistone{
	color: white;
	font-size: 14px;
}
.songlisttwo{
	color: #d1caca;
	font-size:10px;
	font-weight: bolder;
}
/*--------------------------------------asidebar ends -----------------------------------*/


/* ---------footer-------------*/
@media only screen and (max-width:900px){
	.walkbyside{
		font-size:12px !important;
	}
	.alan{
		font-size:9px !important;
	}
	.singer{
		grid-column-gap: 5px !important;
	}

}
.walkbyside{
	font-size:15px;
	font-weight: lighter;
}
.alan{
	font-size: 10px;
	font-weight: lighter;
}
.end{
	width:100%;
	display: grid;
	grid-template-columns: 1.5fr .5fr 3fr 1fr ;
	background-color: #353535;
	height: auto;

}
.singer{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.singone img{
	width: 70%;
	height: 70%;
	margin-left: 16px;
	margin-top: 10px;
}
.singtwo ul{
	list-style-type: none;
	color: white;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.playericon{
	margin-top:8px;
	padding-left: 5px;
}
.playericon span{
	color: white;
	font-size:13px;
	font-weight: lighter;
}

.play{
	display: grid;
	grid-template-rows: 1fr 3fr;
	grid-row-gap: 10px;
}
.playone{
	margin-top: 10px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-right: 15px;
	padding-left: 15px;
}
.play-one-icon i{
	cursor: pointer;
	font-size: 12px;
}
.play-one-icon i:hover{
	filter: brightness(100%);
	transform: scale(1.1);
	color:white;
}


/*bar*/
.bar{
	margin-top: 15px;
}
.slidecontainer{
	transform: translateX(40px);
	width: 85%
}
.slider{
	-webkit-appearance: none;
	height: 6px;
	width: 100%;
	border-radius: 5px;
	background: #3a4e47;
	outline: none;
	z-index:-1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    z-index: 9999;

}
#progress{
	
	height: 6px;
	border-radius: 4.5px;
	background: #3faa3f;
	outline: none;
	position: relative;
	z-index: 1;
	width: 0;
	margin-top: -11px;
}

.volume-opt{
	display: grid;
	grid-template-columns: .5fr 1.5fr .5fr;
	grid-column-gap: 8px;
}
#volume-bar{
	display: grid;
	grid-template-columns: 5% 85%;
	grid-column-gap: 12px;
}
.abc{
	font-size: 12px;
	color: white;
	margin-top: 4px;
}
.yeah{
	color: white;
}
.volume-opt > div{
	margin-top: 10px;
	
}
.volume-opt > .yeah{
	margin-left: 20px;
}
#progresss{
	background: #3faa3f;
}
/*--------------------volume bar media querry-------------------------*/
@media only screen and (max-width:680px){
  .cde{
    display:none;
  }
}
@media only screen and (max-width:400px){
  .alan{
    display:none;
  }
}